/.env
/.env.backup
/.env.production
/auth.json
/vendor
/node_modules
/bootstrap/cache/*
/storage/*.key
/storage/pail
/storage/*.log
/storage/*.sqlite
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/public/build
/public/hot
/public/storage
/phpunit.result.cache
/.phpunit.cache
/.idea
/.vscode
/.fleet
/.nova
/.zed
/Homestead.json
/Homestead.yaml
/.docker
/npm-debug.log
/yarn-error.log
/pnpm-debug.log
/.phpactor.json